.title {
    padding-top: 60px;
    padding-bottom: 20px;
    color: #fff;
    font-family: Mollie;
    font-size: 35px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-color: #d9c2ba;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 70px;
    padding-bottom: 50px;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    justify-content: center;
    position: absolute;
    background-color: #d9c2ba;
}

.card {
    padding: 25px;
    border: 2px solid #735949;
    border-radius: 10px;
    background-color: #fff;
}

.container img {
    width: 300px;
    height: 300px;
    border-radius: 7px;
}

.info {
    margin-top: 10px;
    font-family: Mollie;
    font-size: 20px;
    color: #735949;
}

.info h1 {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    margin-bottom: 15px;
}

.contact {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.contact img:hover {
    transform: scale(1.05);
}

.github img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.linkedin img {
    height: 47px;
    width: 70px;
    cursor: pointer;
}
