.background {
    display: grid;
    place-items: center;
    text-align: center;
    background: #f2f2f2;
    flex-direction: column;
}

.container {
    text-align: center;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 20px;
    background: #d9c2ba;
    color: #fff;
    width: 70%;
    display: block;
    border: 2px solid #736A68;
}

.container img {
    width: 100%;
    border-radius: 15px;
}

.name {
    font-family: Mollie;
    font-size: 70px;
    color: #736A68;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price {
    font-family: Mollie;
    font-size: 40px;
    color: #736A68;
    letter-spacing: 1px;
}

.container h1 {
    font-family: Mollie;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #736A68;
}

.container p {
    font-family: "Segoe UI";
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    font-family: "Segoe UI";
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #736A68;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 15px;
    width: 110px;
    height: 50px;
    border-radius: 10px;
}

button:hover {
    color: #d9c2ba;
}

.imgloading {
    width: 50%;
    height: 50%;
    justify-content: center;
}









.Button{
    background-color: #D9C2BA;
}
.rowlogo{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    /* scroll-padding-block-end: 10%; */
}

.rowCombo{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    

}
.rowpCalif{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}
.p{
    display: flex;
}

.imgdetail{
    box-shadow: 0 9px 15px rgba(46, 47, 68, 0.194);
    width: 170vh;
    height: 40vh;
    background-size: cover;
    margin-top: 45px;
    margin-left: 1%;
    
}

.cover {
    object-fit: cover;
    width: 200vh;
    height:40vh;
  }

.imgdetail2{
border-radius: 50%;
transform: translate(-280%, -70%);
background-size: cover;
box-shadow: 0 9px 15px rgba(46, 47, 68, 0.505);

}
.imgdetail1{
    display: flex;
    flex-direction: column;
    margin-left: -450px;
    margin-right: 20px;
    margin-top: 50px;
    

    
}

.container-detail{
     display: flex;
     justify-content: center;
     align-items: center;
     position: inherit;
}

.conteinerd{
    display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 2.94%;
}

.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.opciones2{
    margin-left: 1.5%;
    transition: 0.5s;
    transition-delay: 0.1s;

}
/* .opciones2 :hover {
    width: 600px;
    height: 400px;
    transition: 0.5s;
    transition-delay: 0.1s;

} */

.stats{
margin-top: 10px;
margin-left: 75px;
margin-right: 50px;

}

.grit{
    display: flex;
    background-color: rgb(226, 228, 228);
    margin-top: -180px;
    width: 100%;
    height: 120vh;
    justify-content:end;
    /* align-content: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch; */

}

.grid1{
    display: flex;
    width: 120vh;
    height: 100vh;
    background-color: hsl(180, 2%, 84%);
    align-items: center;
    align-content: center;
    transform: translateX(20%);
    
    
}

.grid8{
    display: flex;
    
    margin-top: 25px;
}
.grid2{
    display: flex;
    width: 40vh;
    height: 100vh;
    margin-top: 30px;
    margin-left: 70px;
    flex-direction: row ;
    justify-content: flex-start;
    
}
.grid3{
    margin-right: -70px;
}

  
    

.grid4{
    display: flex;
    flex-direction:row-reverse;
    width: 100vh;
    height: 50vh;
   
    
}



