.titulo{
    font-size: 40px;
    color: #D9C2BA;
}
.inputs{
    margin: 15px;
}
.error{
    font-size: 14px;
    color: red;
    font-weight: bold;
}
.boton_inicio{
    float: left;
}
.mensaje_alerta{
    position: absolute;
    top: 1000px;
}
.formulario{
    left: 2000px;
    background-color: aqua;
}

.check{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
