ul{
    list-style-type: none;
    
}

li{
    float: left;
    text-align: center;
    width: 10em; 
    color: rgb(209, 18, 177);
}

.imghome{
    width: 100%;
    
}

.contiene{
    /* position: relative;
    display: inline-block;
    text-align: center; */
    /* width: 100%; */
}

.fotogeneral_home{
    position: absolute;
}

.texto-encima{
    position: absolute;
    margin: 50px auto;
    top: 350px;
    left: 550px; 
    color: aliceblue;
    font-size: 120px;
}

.centrado{
    position: relative;
    top: 50px;
}

.slider{
    margin-top: 200px;
}

.footer{
    width: 100%;
}

.fotocate{
    height: 10%;
}

.parrafo{
    font-size: large;
}

.parrafoc{
    text-align: justify;
    
}
.eventos Button{
    display: flex;
    justify-content: space-around;
    align-items:center ;
}