@font-face {
    font-family: "Mollie";
    src: "../../public/Mollie-Glaston.ttf";
}

ul {
    list-style-type: none;
}

li {
    float: left;
    text-align: center;
    width: 10em;
    color: rgb(209, 18, 177);
}

.imghome {
    width: 100%;
}

.fotogeneral_home {
    position: absolute;
}

.centrado {
    position: relative;
    top: 50px;
}

.fotocate {
    height: 10%;
}

.parrafo {
    font-size: 25px;
    font-family: 'Nostalgia';
    letter-spacing: 0.5px;
}

.parrafoc {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 30px;
    color: #735949;
}

.eventos Button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-Home {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 8fr));
    gap: 20px 10px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.boxing {
    margin-top: 30px;
    margin-bottom: 50px;
}

.Prove {
    margin-top: 20px;
    background-color: #d9c2ba;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 1px;
}

.titulo-home {
    font-size: 50px;
    font-family: "Mollie";
    color: #735949;
    margin-bottom: 6%;
    margin-top: 6%;
}

.footer {
    width: 100%;
}

.botones {
    display: flex;
    flex-direction: column;
    margin-right: 110%;
}

.barra {
    background-color: #ffffff;
    padding: 10px;
    margin-top: -12px;
    font-family: 'Epilogue', sans-serif;
}

.barra .MuiButton-label {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;;
}
.barra .MuiButton-label:hover, .MuiButton-label:focus {
    color: #735949;
    background-size: 100% 2px;
}

.barra1 {
    background-color: inherit;
    margin-bottom: 50px;
}

.titulo h1 {
    color: #735949;
    border: 2px solid #735949; 
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

.titulo-home1 {
    font-size: 40px;
    color: #735949;
    margin-bottom: 1%;
    margin-top: -1%;
}

.linea {
    border-top: 1px solid #735949;
    height: 2px;
    padding: 0;
    margin: 50px;
}

.titulo h1:hover {
    color: #fff;
    transition: .5s;
}
