ul{
    list-style-type: none;
    
}

li{
    float: left;
    text-align: center;
    width: 10em; 
    color: rgb(209, 18, 177);
}

.imghome{
    width: 1500px;
    
}

.contiene{
    position: relative;
    display: inline-block;
    text-align: center;
    
}

.texto-encima{
    position: absolute;
    top: 450px;
    left: 350px; 
    color: aliceblue;
    font-size: 150px;
}

.centrado{
    position: relative;
    top: 50px;
}

.slider{
    margin-top: 200px;
}

.footer{
width: 200px;
}

.fotocate{
    height: 750px;
}

.parrafo{
    font-size: large;
}

.parrafoc{
    text-align: justify;
    
}