.encabezado {
    /* justify-content:space-around ; */
    /* position: relative; */
    height: 100vh;
}

.cabeza {
    display: flex;
    width: 100%;
    height: 100%;
    /* width: auto; */
    /* position: relative; */
}

/* .container{
    display: flex;
} */

/* 
.cabeza2{
    height: 100vh;
    width: auto;
    position: absolute;
} */

/* .evento{
    margin-left: 5px;
} */

/* .galeria{
    display: flex;
} */

/* .boton-sign{
margin-bottom: 30px;
margin-right: 8px;
} */

/* .boton{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .google{
    display: flex;
} */

/* .container-login{
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #7359498a;
    border-radius: 5px;
    display: inline-flex;
    margin-right: 250px;
    margin-top: 120px;
    margin-bottom: 163px;
    background-color: rgb(249, 250, 252);
} */

/* 
.container-todo{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(250, 235, 215, 0.645);
} */

/* .botondeg{
    display: flex;
} */

/* .hola1{
margin-bottom: 15px;
display: flex;
background-color: rgb(247, 249, 249);
border-style: solid;
border-color: #303F9F;
border-radius: 5px;
border-width: 0px;
width: 250px;
}

.hola1 img{
    margin-right: 5px;
    margin-left: 75px;
} */

