.container{
    display: flex;
    justify-content: center;

}
.encabezado{
    justify-content:space-around ;
    position: absolute;
}

.cabeza{
    height: 100vh;
    width: 212.6vh;
}

.cabeza2{
    height: 100vh;
    width: 212.6vh;
    position: absolute;
}

.evento{
    margin-left: 5px;
}

.galeria{
    display: flex;
  
}


