.pag {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
  
.pagination button {
  border-radius: 30px;
  text-align: center;
  padding: 3px;
  cursor: pointer;
  margin: 10px;
  border: none;
  color: #fff;
  background: #D9C2BA;
  height: 40px;
  width: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.pagination button:hover {
  color: #736A68;
}
  
.barr3{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}