.pagination{
    height: 27px;
  }
  
  ul.pagination {
    display: flex;
    background-color: #736A68;
    border-radius: 20px;
    padding: 0;
    margin: 0;
  }
    
  ul.pagination li {
    display: inline;
  }
    
  ul.pagination li a {
    color: rgb(248, 251, 248);
    font-family:unset;
    font-size: 20px;
    font: bold;
    float:inline-end;
    padding: 2px 8px;
    margin-top: 5px;
    text-decoration:double;  
  }
      
  ul.pagination li a:hover:not(.active) {
    background-color: #D9C2BA;
    color: rgb(0, 6, 0);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font: bold;
    cursor: pointer;  
  }
  
  .pag {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .barr3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
  }
  
  .pagination button{
    display: inline-block;
    color: #fbf9f7;
    background-color: #736A68;
    font: bold;
    border-radius: 10px;
    padding: 0;
    margin: 0;
  }
  
  .pagination  button:hover:not(.active) {
    background-color: #fbf9f7;
    color: rgb(0, 6, 0);
    border-radius: 10px;
    font: bold;
    cursor: pointer;
  }

  ul.pagination li a:hover:not(.active) {
    color: rgb(248, 251, 248);
    font-family:unset;
    font-size: 25px;
    font: bold;
    float:inline-start;
    padding: 2px 10px;
    margin-top: 5px;
    text-decoration:double;  
  }