.Titulo {
    color: black;
    font-family: Hahmlet;
    background-color: #EBEBF2;
    margin-top: 20%;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-items: center; */
    /* justify-self: center; */
}

.png{
    width: 100%;
    height: 300px;
    margin-top: 2.9%;
}

.Titulo-proveedores {
    color: black;
    font-family: Hahmlet;
    background-color: #D9C2BA;
    margin-top: 0%;

}

.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0,8fr));
    gap: 0px 20px;
    margin-top: 15px;
}
